body{
	background-color: #222
}
.p1{
	background-image: url(p1.png);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}
.transition{
	background-color: #333;
	color: white;
	transition:color 1s,background-color 1s;
}
.transition:hover{
	color: black;
}
h3{
	text-decoration: none !important;
}